body div {
	text-align: center;
}

canvas {
	display: block;
	margin: 50px auto;
	box-shadow: -2px -2px 2px #EFEFEF, 5px 5px 5px #B9B9B9;
	color: #fff;
	background: url(../img/bak.jpg);
}

button {
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #4CAF50;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
	user-select:none;
	-webkit-user-select:none;
}

button:hover {
	background-color: #3e8e41
}

button:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
